* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: var(--bg-primary-color);
  color: var(--text-primary-color);
}

main {
  width: 100%;
}

main section {
  width: 100%;
  padding: var(--padding-2xl);
  display: flex;
    gap: var(--gutter-lg);
}
.btn {
  padding: var(--padding-sm) var(--padding-md);
  background-color: var(--bg-active-color);
  border: none;
  border-radius: var(--border-radius-md);
  cursor: pointer;
  outline: none;
  color: var(--text-active-color);
}

#reset-btn {
  background-color: var(--bg-danger-color);
  color: var(--text-primary-color);
}

#download-btn {
  background-color: var(--bg-success-color);
  color: var(--text-primary-color);
}
main section .left {
  display: flex;
  flex-direction: column;
  gap: var(--gutter-lg);
  width: 70%;
  align-items: center;
}

main section .top {
  display: flex;
  align-items: center;
  gap: var(--gutter-md);
}

main section .bottom {
    background-color: var(--bg-secondary-color);
    width: 100%;
    padding: var(--padding-2xl);
    aspect-ratio: 5/3;
    border-radius: var(--border-radius-xl);
  display: flex;
  align-items: center;
  justify-content: center;
}
main section .bottom .placeholder {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0.5;
    gap: var(--gutter-md);
}

main section .bottom .placeholder i {
    font-size: 10rem;
}
main section .bottom .placeholder p {
    font-size: var(--font-size-lg);
}
main section .right {
  width: 30%;
  background-color: var(--bg-secondary-color);
  padding: var(--padding-lg);
  border-radius: var(--border-radius-lg);
    display: flex;
    flex-direction: column;
    gap: var(--gutter-md);
}

main section .right .filter{
    width: 100%;
}
main section .right .filter.input{
    width: 100%;
    outline: none;
    margin-top: var(--margin-sm);
    appearance: none;
}

main section .right .filter input::-webkit-slider-runnable-track{
    background-color: var(--bg-active-color);
    height: 4px;
    border-radius: 2px;
}
main section .right .filter input::-webkit-slider-thumb{
    cursor: pointer;
    appearance: none;
    background-color: var(--bg-danger-color);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin-top: -6.7px;
}